
h1,h2{font-family:sans-serif;
	color:red;}
body{background-color: #eaf3da;
			margin-left: 20%;
			margin-right: 20%;
			border: 1px solid black;
			padding: 10px 10px 10px 10px;
			font-family: sans-serif;}
h1{font-family:fantasy;
text-decoration:underline;}
a.top{font-family:cursive;
color:gray;
font-weight:lighter;
text-decoration:underline;}
ul.xisu{color:red;
font-weight:bold;}